* {
    border: 1px solid red;
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    margin: 150px;
    grid-template-columns: repeat(16, 30px);
    justify-content: center;
    background-color: #000000ea;

}
.cell {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(117, 117, 255);
    background-color: aquamarine;
    transition: transform 1s;
}
 /* .cell:hover {
    background-color: yellow;
}